* {
    margin: 0;
    padding: 0;
}

/*--------------------Game Board Area--------------------*/
div.gameArea {
    border: 3px solid #595959;
    background-color: #38a692;
    border-radius: 8px;
    box-shadow: 5px 5px 15px #595959;

    width: 80%;
    height: auto;
    max-width: 800px;

    margin: 4rem auto;
}


/*--------------------Heading--------------------*/

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5rem;
    font-weight: 400;

    color: #f2f2f2;
    text-shadow: -1.5px -1.5px 0 #595959, 1.5px -1.5px 0 #595959, -1.5px 1.5px 0 #595959, 1.5px 1.5px 0 #595959;
    text-align: center;
    margin: 40px 0px 40px 0px;
}


/*--------------------Button Styling--------------------*/

.selections {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin-bottom: 2rem;
}
.selections button {
    background-color: #f2f2f2;
    border: 2px solid #595959;
    border-radius: 5px;

    color: #595959;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;

    min-width: 200px;
    min-height: 50px;

    transform: scale(1);
}
.selections button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 4px #595959;
}
.selections button:active {
    transform: scale(0.99);
    border: 1px solid #f2f2f2;
    background-color: #595959;

    color: #f2f2f2;
    box-shadow: 2px 2px 4px #595959;
}


/*--------------------H2 Styling--------------------*/

h2 {
    color: #595959;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1.7rem; 
    text-shadow: -0.7px -0.7px 0 #f2f2f2, 0.7px -0.7px 0 #f2f2f2, -0.7px 0.7px 0 #f2f2f2, 0.7px 0.7px 0 #f2f2f2;
    text-align: center;
}


/*--------------------Player & Computer Choices Styling--------------------*/
.gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerContainer, .computerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    margin: 2rem 0;
    padding: 1rem;
}

.playerChoice, .computerChoice {
    width: 210px;
    height: 210px;

    background-color: #f2f2f2;
    border: 2px solid #595959;
    border-radius: 5px;

    position: relative;
}
.playerChoice p, .computerChoice p {
    text-align: center;

    color: #595959;
    font-family: 'Roboto Mono', monospace;

    padding: 5px 0px;
}
.vs {
    color: #f2f2f2;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.8rem;
    font-weight: 100;
    text-shadow: -0.7px -0.7px 0 #595959, 0.7px -0.7px 0 #595959, -0.7px 0.7px 0 #595959, 0.7px 0.7px 0 #595959;

    align-self: flex-start;
    padding-top: 150px;
}

/*--------------------Icons Styling--------------------*/

.playerIcon span, .computerIcon span {
    color: #595959;
    font-size: 8rem;
}
#playerRockIcon {
    position: absolute;
    top: 50px;
    left: 40px;

    visibility: hidden;
}
#playerPaperIcon {
    position: absolute;
    top: 50px;
    left: 40px;

    visibility: hidden;
}
#playerScissorsIcon {
    position: absolute;
    top: 50px;
    left: 40px;

    visibility: hidden;
}

#compRockIcon {
    position: absolute;
    top: 50px;
    left: 40px;

    visibility: hidden;
}
#compPaperIcon {
    position: absolute;
    top: 50px;
    left: 40px;

    visibility: hidden;
}
#compScissorsIcon {
    position: absolute;
    top: 50px;
    left: 40px;

    visibility: hidden;
}



/*--------------------Winner Box Styling--------------------*/

.winnerPlayer, .winnerComputer {
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.winnerPlayer.active {
    border: 6px solid #d76530;
}
.winnerComputer.active {
    border: 6px solid #d76530;
}

/*--------------------Score Card Styling--------------------*/

.playerScoreBox, .computerScoreBox {
    width: 50px;
    height: 50px;
}
.playerScoreBox p, .computerScoreBox p {
    color: #595959;
    font-family: 'Roboto Mono', monospace;
    text-shadow: -0.7px -0.7px 0 #f2f2f2, 0.7px -0.7px 0 #f2f2f2, -0.7px 0.7px 0 #f2f2f2, 0.7px 0.7px 0 #f2f2f2;
    font-size: 2rem;
    text-align: center;
}

/*--------------------Modal Styling--------------------*/
.modalBody {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 250px;
    min-height: 150px;

    border: 3px solid #f2f2f2;
    border-radius: 8px;
    background-color: #39bf99;

    transition: 200ms ease-in-out;
}
.modalBody.active {
    transform: translate(-50%, -50%) scale(1);
}
.closeBtn {
    align-self: flex-end;

    cursor: pointer;
    border: none;
    outline: none;
    background: none;

    font-size: 1.5rem;
    color: #595959;
}
.modalText {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    color: #f2f2f2;
    text-shadow: -0.7px -0.7px 0 #595959, 0.7px -0.7px 0 #595959, -0.7px 0.7px 0 #595959, 0.7px 0.7px 0 #595959;

    margin-top: 1rem;
}
.modalBody span {
    color: #d76530;
    text-shadow: 1px 1px 0 #f2f2f2;

    font-size: 3rem;

    margin-top: 1rem;
}
#resetBtn {
    background-color: #f2f2f2;
    border: 2px solid #595959;
    border-radius: 5px;

    color: #595959;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;

    min-width: 130px;
    min-height: 30px;

    margin: 1rem 0;
}

.overlay {
    position: fixed;
    transition: 200ms ease-in-out;

    opacity: 0;
    background-color: #595959b3;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    pointer-events: none;
}
.overlay.active {
    opacity: 1;
    pointer-events: all;
}